body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to bottom,
        #009688 15%,
        #D8DBD5 15%
    );
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

/* APPLICAZIONE */
.web-app {
    height: 90%;
    width: 70%;
    background-color: white;
    display: flex;
}


/* ZONA DELLE CHAT/ACCOUNT/NOTIFICA */
.chats {
    flex: 0 1 30%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}

/**** zona profile/settings ****/
.chats .account {
    background-color: #dedede;
    border-right: 1px solid rgb(202, 202, 202);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* zona profile pic */
.chats .account .proPic {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.chats .account .proPic img {
    height: 100%;
    border-radius: 50%;
    padding: 10px;
}

.chats .account .proPic span {
    font-size: 1.5em;
}

/* icone settings */
.chats .account .icons {
    padding-inline: 1em;
    color: grey;
    font-size: 1.5em;
    display: flex;
    gap: 0.8em;
}

.chats .account .icons i {
    cursor: pointer;
}

/**** zona attiva notifiche desktop ****/
.chats .popup-notifiche {
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
}

/* icona notifica desktop */
.chats .popup-notifiche .icon {
    padding: 8px 11px;
    margin: 12px 10px;
    border-radius: 50%;
    background-color: white;
    color: #8EDAFC;
    font-size: 1.3em;
}

/* testo notifica desktop */
.chats .popup-notifiche .popup-text p {
    text-decoration: underline;
    font-size: 0.85em;
    color: rgb(82, 82, 82);
}

/**** zona search chat ****/
.chats .search {
    padding: 5px;
    background-color: #f2f2f2;
}

.chats .search span {
    background-color: white;
}

.chats .search span i {
    padding-inline: 0.6em;
    color: rgb(184, 184, 184);
}

.chats .search .my_form {
    padding: 5px 0px 5px 0px;
    border: 1px #dee2e6 solid;
    border-left: none;
    border-radius: 5px;
    width: calc(100% - 61.2px);
}

.chats .search input:focus {
    outline: none;
}

.chats .search input::placeholder {
    color: rgb(184, 184, 184);
    opacity: 1; /* Firefox */
}

/**** elenco chat ****/
.chats .elenco-chat {
    overflow-y: auto;
    height: 100%;
}

.chats .chat-singola {
    border-top: 1px solid rgb(235, 235, 235);
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.chats .chat-singola:hover {
    background-color: rgb(225, 225, 225);
}

.chats .selected {
    background-color: rgb(235, 235, 235);
}

.chats .chat-singola .info-contact {
    display: flex;
    width: 85%;
}

.chats .chat-singola .orario, .info-contact div {
    padding-top: 10px;
    padding-right: 10px;
}

.chats .chat-singola .info-contact img {
    height: 100%;
    border-radius: 50%;
    padding: 10px;
}

.chats .chat-singola .orario {
    color: rgb(170, 170, 170);
}


/* ********************************************************** */


/* ZONA CHAT SELEZIONATA */
.chat {
    flex: 1 1 70%;
    min-width: 500px;
    background-image: url(img/mine.jpg);
    display: flex;
    flex-direction: column;
}

/* sezione chat selezionata */
.chat .title-chat {
    background-color: #dedede;
    height: 75px;
    display: flex;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
}

.chat .title-chat .profile {
    display: flex;
    align-items: center;
}

.chat .title-chat .profile img {
    height: 100%;
    border-radius: 50%;
    padding: 10px;
}

.chat .title-chat .profile p {
    font-size: 0.8em;
    color: grey;
}

.chat .title-chat .icons {
    color: grey;
    font-size: 1.5em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    gap: 0.8em;
}

.chat .title-chat .icons i {
    cursor: pointer;
}

/* sezione chat conversazione */
.chat .conversazione {
    flex: 1 0 calc(100% - 150px);
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-inline: 10%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    overflow-y: auto;
    position: relative;
}

.chat .conversazione .mex {
    border-radius: 10px;
    max-width: 500px;
    min-width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.delete_sent {
    height: fit-content;
    padding-left: 1em;
    position: absolute;
    top: 4px;
    right: 6px;
    font-size: 0.9em;
    color: black;
    display: none;
}

.chat .conversazione .mex:hover .delete_sent {
    display: block;
    cursor: pointer;
}

.delete_received {
    height: fit-content;
    position: absolute;
    top: 4px;
    left: 6px;
    font-size: 0.9em;
    color: black;
    display: none;
}

.chat .conversazione .mex:hover .delete_received {
    display: block;
    cursor: pointer;
}

.chat .conversazione .mex .testo {
    height: fit-content;
}

.chat .conversazione .inviato .mex-orario {
    font-size: 0.6em;
    align-self: flex-end;
    height: fit-content;
}

.chat .conversazione .ricevuto .mex-orario {
    font-size: 0.6em;
    align-self: flex-start;
    height: fit-content;
}

.chat .conversazione .ricevuto {
    background-color: white;
    padding-right: 15px;
    padding-left: 20px;
    align-self: flex-start;
    position: relative;
}

.triangle_ricevuto {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 20px solid white;
    position: absolute;
    bottom: 0;
    left: -20px;
}

.chat .conversazione .inviato {
    background-color: #D5F9BA;
    padding-right: 20px;
    padding-left: 15px;
    align-self: flex-end;
    position: relative;
}

.triangle_inviato {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 20px solid #D5F9BA;
    position: absolute;
    bottom: 0;
    right: -20px;
}


/* sezione chat scrittura messaggio */
.chat .messaggio {
    height: 75px;
    width: 100%;
    background-color: #F3EEEA;
    border-left: 1px solid rgb(202, 202, 202);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chat .messaggio i {
    color: grey;
    font-size: 1.5em;
    margin-inline: 1.5em;
    cursor: pointer;
}

.chat .messaggio input {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px white solid;
    outline: none;
}

.chat .messaggio input:focus {
  outline: 3px rgb(174, 174, 174)  solid;
  transition: 0.2s;
}