.light_mode {
    
    --bck-main-1: #009688;
    --bck-main-2: #DBDBD3;
    --bg-bck-color: white;
    --bg-bck-title: #F3EEEA;
    --bg-chat-selected: #e1e1e1;
    --bg-chat-hover:  #e7e7e7;
    --bg-banner: #8EDAFC;
    --bg-mess-sent: #d5f9ba;
    --bg-mess-received: white;
    --bg-content-chat: url(img/mine.jpg);
    --text-color: black;
    --border-color: rgb(233, 233, 233);
}

.dark_mode {
    --bck-main-1: #01695f;
    --bck-main-2: rgb(73, 73, 73);
    --bg-bck-color: rgb(46, 46, 46);
    --bg-bck-title: rgb(46, 46, 46);
    --bg-chat-selected: #595959;
    --bg-chat-hover: #404040;
    --bg-banner: black;
    --bg-mess-sent: #a0d578;
    --bg-mess-received: rgb(235, 235, 235);
    --bg-content-chat: url(img/dark_mode.jpg);
    --text-color: rgb(255, 255, 255);
    --border-color: rgb(35, 35, 35);
}

.my_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--text-color);
}

.my_container .bck-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 15vh;
    background-color: var(--bck-main-1);
    z-index: -100;
}

.my_container .bck-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 85vh;
    background-color: var(--bck-main-2);
    z-index: -100;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

/* APPLICAZIONE */
.web-app {
    height: 90%;
    width: 70%;
    background-color: var(--bg-bck-color);
    display: flex;
}


/* ZONA DELLE CHAT/ACCOUNT/NOTIFICA */
.chats {
    flex: 0 1 30%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}

/**** zona profile/settings ****/
.chats .account {
    background-color: var(--bg-bck-title);
    border-right: 1px solid var(--border-color);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* zona profile pic */
.chats .account .proPic {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.chats .account .proPic img {
    height: 100%;
    border-radius: 50%;
    padding: 10px;
}

.chats .account .proPic span {
    font-size: 1.5em;
    cursor: default;
}

/* icone settings */
.chats .account .icons {
    padding-inline: 1em;
    color: grey;
    font-size: 1.5em;
    display: flex;
    gap: 0.8em;
}

.chats .account .icons i {
    cursor: pointer;
}

/**** zona attiva notifiche desktop ****/
.chats .popup-notifiche {
    background-color: var(--bg-banner);
    display: flex;
    align-items: center;
}

/* icona notifica desktop */
.chats .popup-notifiche .icon {
    padding: 8px 11px;
    margin: 12px 10px;
    border-radius: 50%;
    background-color: var(--bg-bck-color);
    color: var(--bg-banner);
    font-size: 1.3em;
}

/* testo notifica desktop */
.chats .popup-notifiche .popup-text h6 {
    cursor: default;
}

.chats .popup-notifiche .popup-text p {
    text-decoration: underline;
    font-size: 0.85em;
    color: rgb(82, 82, 82);
    cursor: pointer;
}

/**** zona search chat ****/
.chats .search {
    padding: 5px;
    background-color: var(--bg-bck-color)
}

.chats .search span { /* COLORI DA VALUTARE */
    background-color: var(--bg-bck-color);
    border: 2px var(--border-color) solid;
    border-right: none;
}

.chats .search span i {
    padding-inline: 0.6em;
    color: rgb(184, 184, 184);
}

.chats .search .my_form {
    padding: 5px 0px 5px 0px;
    border: 2px var(--border-color) solid;
    background-color: var(--bg-bck-color);
    color: var(--text-color);
    border-left: none;
    border-radius: 5px;
    width: calc(100% - 61.2px);
}

.chats .search input:focus {
    outline: none;
}

.chats .search input::placeholder {
    color: rgb(184, 184, 184);
    opacity: 1; /* Firefox */
}

/**** elenco chat ****/
.chats .elenco-chat {
    overflow-y: auto;
    overflow-x: none;
    height: 100%;
}

.chats .chat-singola {
    border-top: 1px solid var(--border-color);
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.chats .chat-singola:hover {
    background-color: var(--bg-chat-hover);
}

.chats .selected {
    background-color: var(--bg-chat-selected);
}

.chats .chat-singola .info-contact {
    display: flex;
    width: 85%;
}

.chats .chat-singola .orario, .info-contact div {
    padding-top: 10px;
    padding-right: 10px;
}

.chats .chat-singola .info-contact img {
    height: 100%;
    border-radius: 50%;
    padding: 10px;
}

.chats .chat-singola .orario {
    color: rgb(170, 170, 170);
}


/* ********************************************************** */


/* ZONA CHAT SELEZIONATA */
.chat {
    flex: 1 1 70%;
    min-width: 500px;
    /* background-image: var(--bg-content-chat); */
    display: flex;
    flex-direction: column;
}

/* sezione chat selezionata */
.chat .title-chat {
    background-color: var(--bg-bck-title);
    height: 75px;
    display: flex;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    cursor: default;
}

.chat .title-chat .profile {
    display: flex;
    align-items: center;
    min-width: 200px;
}

.chat .title-chat .profile img {
    height: 100%;
    border-radius: 50%;
    padding: 10px;
}

.chat .title-chat .profile p {
    font-size: 0.8em;
    color: grey;
}

.chat .title-chat .icons {
    color: grey;
    font-size: 1.5em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    gap: 0.8em;
}

.chat .title-chat .icons i {
    cursor: pointer;
}

/* sezione chat conversazione */
.conversazione {
    flex: 1 0 calc(100% - 150px);
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-inline: 10%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    overflow-y: auto;
    position: relative;
}

.bck-image1 {
    background-image: url(img/light_mode.jpg);
}
  
.bck-image2 {
    background-image: url(img/dark_mode.jpg);
}

.chat .conversazione .mex {
    border-radius: 10px;
    max-width: 500px;
    min-width: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: default;
    color: black;
}

.delete_sent {
    height: fit-content;
    padding-left: 1em;
    position: absolute;
    top: 4px;
    right: 6px;
    font-size: 0.9em;
    color: black;
    display: none;
}

.chat .conversazione .mex:hover .delete_sent {
    display: block;
    cursor: pointer;
}

.delete_received {
    height: fit-content;
    position: absolute;
    top: 4px;
    left: 6px;
    font-size: 0.9em;
    color: black;
    display: none;
}

.chat .conversazione .mex:hover .delete_received {
    display: block;
    cursor: pointer;
}

.chat .conversazione .mex .testo {
    height: fit-content;
}

.chat .conversazione .inviato .mex-orario {
    font-size: 0.6em;
    align-self: flex-end;
    height: fit-content;
}

.chat .conversazione .ricevuto .mex-orario {
    font-size: 0.6em;
    align-self: flex-start;
    height: fit-content;
}

.chat .conversazione .ricevuto {
    background-color: var(--bg-mess-received);
    padding-right: 15px;
    padding-left: 20px;
    align-self: flex-start;
    position: relative;
}

.triangle_ricevuto {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 20px solid var(--bg-mess-received);
    position: absolute;
    bottom: 0;
    left: -20px;
}

.chat .conversazione .inviato {
    background-color: var(--bg-mess-sent);
    padding-right: 20px;
    padding-left: 15px;
    align-self: flex-end;
    position: relative;
    text-align: right;
}

.triangle_inviato {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 20px solid var(--bg-mess-sent);
    position: absolute;
    bottom: 0;
    right: -20px;
}


/* sezione chat scrittura messaggio */
.chat .messaggio {
    height: 70px;
    width: 100%;
    background-color: var(--bg-bck-title);
    border-left: 1px solid var(--border-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chat .messaggio .btnEmoji {
    background-color: var(--bg-bck-title);
    border: 0px;
    width: fit-content;
}

.chat .messaggio .messaggio-icon {
    margin-inline: 2em;
}

.chat .messaggio .emoji {
    width: 200px;
    text-align: center;
    background-color: var(--bg-bck-color);
    cursor: pointer;
}

.chat .messaggio i {
    color: grey;
    font-size: 1.5em;
    cursor: pointer;
}

.chat .messaggio input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 2px var(--border-color) solid;
    background-color: var(--bg-bck-color);
    color: var(--text-color);
    outline: none;
}

.chat .messaggio input:focus {
  outline: none;
}